{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": ["./tsconfig.json", "./test/tsconfig.json", "./typing-tests/tsconfig.json"]
    },
    "plugins": ["@typescript-eslint"],
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended"],
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-prototype-builtins": "off",
        "no-dupe-class-members": "off",
        "semi": ["error", "always"],
        "no-bitwise": "error",
        "curly": "error",
        "eqeqeq": "error",
        "no-eq-null": "error",
        "wrap-iife": ["error", "inside"],
        "new-cap": "error",
        "no-caller": "error",
        "no-console": "off",
        "no-new": "error",
        "quotes": [
            "error",
            "single",
            {
                "avoidEscape": true
            }
        ],
        "space-before-function-paren": [
            "warn",
            {
                "anonymous": "always",
                "named": "never",
                "asyncArrow": "always"
            }
        ],
        "comma-dangle": ["error", "never"],
        "eol-last": "error",
        "keyword-spacing": ["error", {}],
        "space-before-blocks": ["error", "always"],
        "consistent-this": ["error", "localforageInstance"],
        "prefer-spread": "off",
        "prefer-rest-params": "off",
        "@typescript-eslint/no-use-before-define": [
            "error",
            {
                "functions": false
            }
        ],
        "@typescript-eslint/no-explicit-any": "warn",
        "@typescript-eslint/no-this-alias": "off"
    },
    "globals": {
        "define": true,
        "localforage": true,
        "module": true,
        "require": true,
        "self": true,
        "System": true
    }
}
