.vscode
docs
test
typing-tests
examples

.babelrc
.editorconfig
.eslintignore
.eslintrc
.gitignore
.huskyrc
.lintstagedrc
.npmignore
.npmrc
.prettierignore
.prettierrc
.travis.yml
rollup.config.*
tsconfig.json
